/*#F4EAE4
#d4d1ce
#A22428
rgb(241, 225, 215)*/

/* fixar o header; JS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-wrap: wrap;     /*quebra de linha entre os elementos quando não couberem na largura da tela*/
    margin: 0;
    flex: 1 1 100vw ;
}
header, nav, main, footer{
    display: flex;
    padding: 0 4%;   
}
h1{
    color: #A22428;
}
a{
    text-decoration: none;
    color: white;
}


header{
    
    z-index: 1;
    flex: 1 1 100vw ;
    height: 150px;
    background-color: #A22428;
    color: white;
   
}
    #openMenu, #closeMenu{
        border: none;
        background: none;
        font-size: 30px;
        font-weight: bold;  /*espessura*/
        padding: 0px 5px 0px 5px;
        cursor: pointer;
        display: none;

    }
    #logo{
        display: flex;
        flex: 0 1 200px;
        justify-content: center;
        align-items: center;
        background: none;
        font-size: 30px;
    }
    nav{
        flex: 1 1 200px ;
        align-self: center;
        justify-content: flex-end;  
    }
        nav a{
            margin: 0 3%;
            font-size: 15pt;
        }
    #carrinho{
        display: flex;
        flex: 0 1 50px;
        height: 50px;
        justify-content: center;
        align-self: center;
        margin-left: auto;
        background: none;
    }  
    #carrinhoimg{
        width: 100%;
    }
    #openMenu{
        margin-left: 2%;
        color: white;
    }
    

main{
    flex: 1 1 100vw ;
    height: calc(100% - (120px + 200px + 24px)); /* 100%-(header+footer+margin(3px*4=24)*/
    background-color: #F4EAE4;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: rgb(78, 30, 12);
}

    
    #filtro{
        display: flex;
        flex: 0 1 1220px;
        height: 50px;
        border-radius: 10px;
        margin-top: 5%;
    }
        select{
            width: 100%;
            height: 100%;
            padding: 8px;
            border-radius: 40px;
            background: none;
            border: 2px solid  #A22428;
            color: rgb(78, 30, 12);
        }
    #produtosul{
        margin: 3% 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        list-style: none;
    }
        .produtoli{
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 0 1 240px;
            height:310px;
            background-color: rgb(241, 225, 215);
            margin: 3% 3%;
            border-radius: 20px;
            box-shadow: 5px 5px 7px #d4d1ce;
            text-align: center;
        }
            .container{
                display: flex;
                flex-direction: column;
                flex: 0 1 240px;
                height:310px;
                
                align-items: center;
                background: none;
            }
                .produtoimg{
                    display: flex;
                    flex: 0 1 200px;
                    height: 200px;
                    border-radius: 20px;    
                }
                .produtoimgB{
                    display: flex;
                    flex: 0 1 140px;
                    height: 10px;
                    border-radius: 20px;
                    margin-top: 50px;    
                }
                .saborp{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    font-size: 15pt;
                    color:rgb(78, 30, 12);
                    margin: 3% 0;
                }
                .comprarbtn{
                    width: 80px;
                    height: 28px;
                    margin: 4% 5% 0 5% ;
                    border-radius: 20px;
                    border: none;
                    cursor: pointer;
                    color: antiquewhite;
                    background-color: #A22428;
                
                    
                }

            
footer{
    flex: 1 1 100vw ;
    height: 120px;
    background-color: #A22428;
}

@media only screen and (max-width:768px){
    #openMenu, #closeMenu{
        display: block;
    }
    
    #closeMenu{
        color: white;
        position: fixed;
        right: 15px;
        top: 15px;
    }
    nav a {
        margin: 3%;
    }
    
    nav{
        position: fixed;
        top: 5px;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        background-color: #A22428;
        align-items: center;
        justify-content: center;
        margin: 0;
        display: none;
        transition: 0.3s;
    }
}
